*, *::before, *::after {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

a {
    padding-left: 10px;
}
.header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    padding-top: 50px;
    font-size: 32px;
    font-weight: bolder;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #333333;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}

.container-grid {
    display: grid;
    grid-gap: 10px;
    background-color: black;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}

.container-grid > button {
    border: 1px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
}

.operand {
    background-color: orange;
    color: white;
}

.number {
    background-color: #333333;
    color: white;
}

.erase {
    background-color: lightgray;
    color: black;
}

.container-grid > button:hover {
    filter: brightness(150%);
}

.span-two {
    grid-column: span 2;
}

.result {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.result .results-one {
    color: rgba(255, 255, 255, .85);
    font-size: 1.5rem;
}

.result .results-two {
    color: white;
    font-size: 2.5rem;
}